[Unit]
Description=Make logins go faster
Requires=rpcbind.service
After=network.target rpcbind.target

[Service]
Type=oneshot
User=nobody
ExecStart=/usr/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
