[Unit]
Description=Windows Unroll Reboot
After=local-fs.target

[Service]
Type=oneshot
User=nobody
ExecStart=/usr/local/bin/winreboot start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
